/* */

/* Instructional Guide Overlay */
h4.overlay-instructions-about {
    letter-spacing: .5em;
    padding-bottom: 1.5em;
    font-weight: 100;
}

/* S01 header */
.slide.SH1 {
    /* img description */
    /* background: url(http://biomath.math.nd.edu/compbio/PhoneNetwork/continental0p001.gif); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
    background: rgb(0,0,0);
}

img.aurora-skeleton-viz-img-1 {
    opacity: .25;
    transform: scale(0.73);
    padding-bottom: 1em;
    z-index: 2;
}

/* S02 New Medium */
.slide.SH2 {
    /* img description */
    background: url(http://biomath.math.nd.edu/compbio/PhoneNetwork/continental0p001.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
}

img.aurora-skeleton-viz-img-2a {
    opacity: .75;
}

img.aurora-skeleton-viz-img-2b {
    opacity: .75;
}

.js .slide h2.slogan-quote {
    font-weight: 100;
    /* font-style: italic; */
    letter-spacing: .5em; 
    padding: .5em;
    text-align: center;
    color: rgba(255,255,255,.9);
    font-weight: 800;
    z-index: 10;
}

/* SH03 - Concept */
.slide.SH3 {
    /* img description */
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
}

img.aurora-skeleton-viz-img-3 {
    opacity: .25;
    transform: scale(0.73);
    padding-bottom: 1em;
    z-index: 2;
}


/* SH04 - About */
.slide.SH4 {
    /* planet_rium seating */
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    background-position: center center;
    z-index: 0;
    transform: scale(1.05);
}

img.aurora-skeleton-viz-img-inside-4 {
    opacity: .4;
    transform: scale(1.03);
}

/* SH05 - Experience */
.slide.SH5 {
    /* planet_rium seating */
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    background-position: center center;
    z-index: 0;
    transform: scale(1.05);
}

img.aurora-skeleton-viz-img-inside-5 {
    opacity: .4;
    transform: scale(1.03);
}

/* SH06 - Tech */
.slide.SH6 {
    /* 2 matrix graphing  */
    /* background: url(https://s-media-cache-ak0.pinimg.com/originals/2e/e6/99/2ee6998e34c3e2eff7b894c66cfc5267.gif); Dark */
    background: url(https://im.ezgif.com/tmp/ezgif-3657156666.gif); /* Light / slowed gif with http://ezgif.com/ */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(0,0,0,.5); */
    background-position: center center;
    z-index: 0;
}

img.aurora-skeleton-viz-img-inside-6 {
    opacity: .4;
    transform: scale(1.03);
}

/* SH07 - Experience + Tech + Concept = Movie REEL */
.slide.SH7 {
    /* planet_rium seating */
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    background-position: center center;
    z-index: 0;
    transform: scale(1.05);
}

img.aurora-skeleton-viz-img-inside-7 {
    opacity: .4;
    transform: scale(1.03);
}

/* SH08 - CTA */
.slide.SH8 {
    /* planet_rium seating */
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    background-position: center center;
    z-index: 0;
    transform: scale(1.0);
}

img.aurora-skeleton-viz-img-inside-8 {
    opacity: .4;
    transform: scale(1.03);
}
